body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#topBar {
    display: flex;
    justify-content: space-between;
}

#canvasSize {
    border: 2px solid black;
    padding: 0px 5px;
    margin: 0;
}

#etchContainer {
    width: 512px;
    height: 512px;
    margin: 5px 0px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.divEtchSquare {
    flex: 1;
    min-width: calc(100% / var(--columns));
    box-sizing: border-box;
    border: 1px solid grey;
    background-color: white;
}

.normalMode {
    background-color: black;
}

#gameModes {
    display: flex;
    justify-content: space-between;
}